<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8" />
  <title>Hotel</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  </head>


<body>
  <div class="container">
    <br>
    <h3>Create User</h3>
<section class="adduserform cf">
<form name="adduser" action="/adduser" method="post" accept-charset="utf-8">
    <ul>
        <li><label for="name">Name</label>
        <input type="Name" name="name" placeholder="My Name" required></li>
        <li><label for="username">Username</label>
        <input type="Email" name="email" placeholder="username@example.com" required></li>
        <li><label for="password">Password</label>
        <input type="password" name="password" placeholder="password" required></li>
        <li><select name="class">
          <option value="leader">Leader</option>option>
          <option value="follower">Follower</option>option>
        </select>
        <li><input type="submit" value="create"></li>
    </ul>
</form>
</section>
  </div>
</body>
</html>
